.search {
   /* height: 100px; */
   display: flex;
   /* position: relative; */
   justify-content:flex-end;
   /* margin: 0 50px 80px 0;
   padding-top: 60px; */
   
}

.ip {
   background-color: hsla(33, 78%, 91%, 0.781);
   border: none;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

button {
   background-color: rgba(0, 0, 0, 0.61);
   border: none;
   color: whitesmoke;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}